.button {
    display: inline-flex;
    align-items: center;
    padding: 0;

    .icon{
     width: 12px;
     height: 12px;
     transform: rotate(180deg);   
    }
    &.active {
        .icon {
            transform: rotate(10deg);
        }
    }
}

.text {
    margin-right: 5px;
}